{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Auctions</h2>

    <div class="card-list">
        {% for auction in auctions %}
            {% if auction.is_active %}
                <a href="{% url 'show_auction' auction.id %}" class="_card-link">
                    <div class="_card">
                        {% if auction.img %}
                            <img class="left-img" src="{{auction.img.url}}" alt="" >
                        {% else %}
                            <img class="left-img" src="/media/default.png" alt="" >
                        {% endif %}
                        <div class="_card-info">
                            <h2>{{ auction.title }}</h2>
                            <div class="_category">{{ auction.get_category_display }}</div>
                            <p>{{ auction.description }}</p>
                            <p><strong>Current Bid:</strong> ${{ auction.current_bid }}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% empty %}
            <h1>Be first to make an auction!</h1>
        {% endfor %}
    </div>
{% endblock %}